html
  head
    link(href='assets/style.css',             rel='stylesheet')
    link(href='assets/gfm.css',               rel='stylesheet')
    link(href='assets/github.css',            rel='stylesheet')
    link(href='assets/github2.css',           rel='stylesheet')
    link(href='assets/octicons/octicons.css', rel='stylesheet')
    link(href='assets/github-highlight.css',  rel='stylesheet')
  body#main
  script(src='app.js')
