#readme {
margin: 50px auto;
width: 790px;
}

label[for^='checkbox'] {
    padding-left: 10px;
}

#connecting {
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    width: 500px;
}

article#content {
    padding-top: 0 !important;
}

@keyframes pulsate {
    0%   { background-color: rgba(184, 222, 172, 0.3); }
    50%  { background-color: rgba(184, 222, 172, 0.8); }
    100% { background-color: rgba(184, 222, 172, 0.3); }
}

.banner {
    margin-bottom: 20px;
    animation: pulsate 8s infinite;
}
