#readme {
    margin: 0 auto;
    padding-top: 50px;
    width: 790px;
}

label[for^='checkbox'] {
    padding-left: 10px;
}

#connecting {
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    width: 500px;
}

article#content {
    padding-top: 0 !important;
}

@keyframes pulsate {
    0%   { background-color: rgba(184, 222, 172, 0.3); }
    50%  { background-color: rgba(184, 222, 172, 0.8); }
    100% { background-color: rgba(184, 222, 172, 0.3); }
}

.banner {
    margin-bottom: 20px;
    animation: pulsate 8s infinite;
}

.markdown-body h1 .anchor {
    top: 16px;
}

.markdown-body h2 .anchor {
    top: 8px;
}

.markdown-body h3 .anchor {
    top: 8px;
}

.markdown-body h4 .anchor {
    top: 8px;
}

@keyframes hideindicator {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

#status-indicator {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 4px;
}

#status-indicator .title {
    font-weight: bold;
    padding-right: 4px;
}

#status-indicator.connected {
    color: green;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    opacity: 0.5;
}

#status-indicator.disconnected {
    color: red;
    font-weight: bold;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    opacity: 1;
}
